<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Productos</title>
    <link rel="stylesheet" href="../static/css/estilos.css">
</head>

<body>
    <header>
        <nav class="navbar-index">
            <img class="logo-nav" src="../static/imagenes/LetrasLogo2.ico" alt="logo">
        </nav>
    </header>

    <div class="logo-centrado">
        <h1>Eliminar Productos del Inventario</h1>
    </div>

    <table id="productos-table" class="tabla-productos"> 
        <thead> 
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table><br>

    <div class="contenedor-centrado">
        <a href="../index.html">Menu principal</a>
    </div>

    <script src="../static/js/bajas.js"></script>
</body>
</html>
